body {
    text-align: center;
    font-size: 100px;
    padding: 0px; 
    margin: 0px; 
    overflow: hidden;
}

#join_btn {
    width: 75%;
    height: 300px;
    font-size: 75px;
}

#game_id_text {
    width: 100%;
    background-color: rgb(255, 254, 202);
    height: 150px;
    font-size: 100px;
}

button {
    width: 100%;
    height: 900px;
}

.button-image {
    width: 100%;
    height: 100%;
    background-image: url('/Graphics/button.jpg');
    background-size: cover;
    background-position: center; 
}